.root{
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 10;
    -fx-text-fill: #ffffff;
}

.btn{
    -fx-background-color: #485052;
    -fx-cursor: HAND;
    -fx-border-radius: 2px;

}
.btn:hover{
    -fx-background-color: rgba(192, 191, 194, 0.85);

}
.btnRecuperarPass{
    -fx-background-color: transparent;
}
.fondoTransparente{
    -fx-background-color: transparent;
}
.table-view{
    -fx-text-fill: #000000;
}
.table-view {
    -fx-background-color: lightgray;
}

/* Estilo para las celdas */
.table-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* Estilo para las filas alternas */
.table-row-cell:odd {
    -fx-background-color: lightblue;
}