.root {
    -fx-background-radius: 10;
    -fx-background-color: rgba(255, 255, 255, 0.07);
}
.label {
    -fx-text-fill: rgb(255, 255, 255);
}

.btn{
    -fx-background-color: linear-gradient(to bottom, #a29c9c, #ffffff);
    -fx-cursor: HAND;
    -fx-background-radius: 30;
    -fx-padding: 10 20 10 20;
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom, #516693, #204872);

}
.btnRecuperarPass{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
}
.table-view{
    -fx-text-fill: #000000;
}
.table-view {
    -fx-background-color: lightgray;
}

/* Estilo para las celdas */
.table-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* Estilo para las filas alternas */
.table-row-cell:odd {
    -fx-background-color: lightblue;
}

.fondo {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-border-radius: 10;
}

.gridFondo {
    -fx-background-image: url("imagenes/fondoLogin.jpg");
    -fx-background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el GridPane */
    -fx-background-repeat: no-repeat; /* Evitar la repetición de la imagen */
}
.imageView {
    -fx-background-radius: 10; /* Redondea los bordes */
    -fx-border-radius: 10; /* Redondea los bordes del borde si lo tienes */
}