.check-box{
    -fx-text-fill: #ffffff;
}
.table-view {
    -fx-background-color: #f0f0f0; /* Color de fondo de la tabla */
}

/* Estilo para las celdas de la tabla */
.table-cell {
    -fx-text-fill: #000000; /* Color del texto de las celdas */
    -fx-font-size: 14px; /* Tamaño de fuente de las celdas */
}